nav {
    justify-content: space-around;
    display: flex;
    border: solid 2px #D3AF37;
    border-radius: 50px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.668);

}


.golden-text p,
h1,
h2,
h3,
li,
a {
    color: rgb(218, 165, 32);
    background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, rgba(218, 165, 32, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(212, 175, 55, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: url(/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



img {
    width: 150px;
    height: 100px;

}

nav a {
    color: #D3AF37;
    text-decoration: none;
    font-size: 20px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#home h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

#home p {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

#about p {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: rgba(0, 0, 0, 0.378);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;

}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    text-align: center;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

#contact li {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    list-style: none;
    box-sizing: border-box;
    border:
        solid 2px #D3AF37;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.668);
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.668);
    color: #D3AF37;
    font-family: 'Arial', sans-serif;
    border-radius: 50px;
}